.col-left{
    width: 30%;
}
.col-right{
    width: 80%;
    overflow: scroll;
}
.page-content{
    display: flex;
}
table#home-world th, table#personal-details th{
    text-align: left;
    padding-right: 10px;
}
.panel{
    position: relative;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    padding: 5px;
    margin: 5px;
}
.panel-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.20rem;
}
.panel-header{
    font-weight: bold;
    color: rgb(17, 16, 16);
    padding: 1.20rem;
    padding-bottom: 0rem;
}
.favorite-panel .checkbox{
    padding-right: 5px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 1rem;
    border: 1px solid gray;
}
td, th{
    padding: 0.5rem;
}
th{
    text-align: left;
}